@import "variables";

.text {
  &__fz {
    &--12 {
      font-size: 12px;
    }

    &--14 {
      font-size: 14px;
    }

    &--16 {
      font-size: 16px;
    }

    &--18 {
      font-size: 18px;
    }

    &--20 {
      font-size: 20px;
    }

    &--24 {
      font-size: 24px;
    }

    &--30 {
      font-size: 30px;
    }

    &--36 {
      font-size: 36px;
    }

    &--40 {
      font-size: 40px;
    }
  }

  &__fw {
    &--300 {

      font-weight: 300;
    }

    &--400 {

      font-weight: 400;
    }

    &--500 {

      font-weight: 500;
    }

    &--600 {

      font-weight: 600;
    }

    &--700 {

      font-weight: 700;
    }
  }

  &__color {
    &--1 {
      color: $placeholder;
    }

    &--2 {
      color: #ffffff;
    }

    &--3 {
      color: $main-blue;
    }
  }

  &__transform {
    &--uppercase {
      text-transform: uppercase;
    }
  }
}
