<app-svg-logo (click)="click()" routerLink="/main" class="d__flex d__flex--items-center m__bottom--20 cursor__pointer" color="#2264D1"></app-svg-logo>
<div class="d__flex d__flex--items-center m__bottom--20">
  <span class="m__right--10 text__fz--20 text__fw--500 cursor__pointer">Статус заказа</span>
  <app-svg-status class="d__flex d__flex--items-center" color="#2264D1"></app-svg-status>
</div>
<h2 class="text__fz--18 text__fw--500 text__transform--uppercase m__bottom--20">каталог товаров</h2>
<div class="menu w__100per">
  <app-menu-item (click)="click()" *ngFor="let category of (categories$ | ngrxPush)" routerLink="/catalog" [queryParams]="{category: category._id}" class="w__100per cursor__pointer nav" type="Nav" text="{{category.full_name}}"></app-menu-item>
</div>
