<div class="title d__flex d__flex--items-center p__20">
  <span class="text__fz--16 text__fw--500">{{title}}</span>
  <app-svg-arrow [@expand]="isExpand" (click)="isExpand = !isExpand" class="svg m__left--auto d__flex d__flex--items-center cursor__pointer" [color]="'#2264D1'"></app-svg-arrow>
</div>
<div *ngIf="isExpand" [@isExpand] class="options d__flex d__flex--items-center d__flex--direction-column w__100per">
  <div class="p__20 w__100per">
    <ng-container *ngIf="title !== 'price'; else price">
      <app-checkbox [value]="arr?.includes(item)" (valueChange)="check($event, item)" *ngFor="let item of data; let i = index">{{item}}</app-checkbox>
    </ng-container>
    <ng-template #price>
      <app-price-slider [max]="data.max" [min]="data.min"></app-price-slider>
    </ng-template>
  </div>
</div>
