<section class="header d__flex d__flex--direction-column d__flex--items-center d__flex--justify-center w__100per">
  <app-svg-logo class="d__flex d__flex--items-center" [color]="'#2264d1'"></app-svg-logo>
</section>

<section class="w__100per d__flex d__flex--items-center d__flex--wrap d__flex--justify-center">
  <img src="assets/imgs/404.png" class="m--10" alt="404">
  <div class="d__flex d__flex--items-center d__flex--direction-column">
    <h1 class="text__fw--700 text__fz--100 text__color--3">404</h1>
    <p class="text__fw--500 text__fz--20">страница не найдена</p>
    <app-button routerLink="/" class="m--10 m__top--45" direction="left" text="Вернуться на главную" type="disabled"></app-button>
  </div>
</section>
