@import '../../../../../../../assets/scss/variables';

.checkbox {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid $line;
  padding: 9px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.checkbox:checked {
  background-color: $light-blue;
  border: 1px solid $light-blue;
  color: #fff;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 18px;
  position: absolute;
  top: -5px;
  left: 2px;
  color: #fff;
}
