<div class="d__flex d__flex--items-center">
  <input class="checkbox m__right--10" type="checkbox">
  <label class="text__fz--16 text__fw--400">Apple</label>
</div>

<div class="d__flex d__flex--items-center m__top--10">
  <input class="checkbox m__right--10" type="checkbox">
  <label class="text__fz--16 text__fw--400">Xiaomi</label>
</div>

<div class="d__flex d__flex--items-center m__top--10">
  <input class="checkbox m__right--10" type="checkbox">
  <label class="text__fz--16 text__fw--400">Samsung</label>
</div>
