<app-svg-logo routerLink="/main" class="logo m__right--50 d__flex d__flex--items-center cursor__pointer" color="#2264D1"></app-svg-logo>
<app-svg-hamburger (click)="toggle()" class="hamburger d__flex d__flex--items-center cursor__pointer"></app-svg-hamburger>
<app-search class="w__100per m__right--50"></app-search>
<div (click)="onStatus()" class="status d__flex d__flex--items-center m__right--50">
  <span class="m__right--10 text__fz--18 cursor__pointer">Статус заказа</span>
  <app-svg-status class="d__flex d__flex--items-center" color="#2264D1"></app-svg-status>
</div>
<div class="d__flex d__flex--items-center h__48">
  <div class="sum d__flex d__flex--items-center d__flex--direction-column bg__color--4 h__48">
    <span class="text__fw--500 text__fz--20">$12.39</span>
    <span class="text__fw--600 text__fz--12 text__color--1">сумма</span>
  </div>
  <div routerLink="/cart" class="cart d__flex d__flex--direction-column d__flex--items-center d__flex--justify-center bg__color--2 cursor__pointer h__48">
    <app-svg-cart class="d__flex d__flex--items-center" color="#fff"></app-svg-cart>
    <span class="text__fw--600 text__fz--12 text__color--2">корзина</span>
  </div>
</div>
