<ng-container *ngrxLet="params$ as params">
  <div class="m__top--30 d__flex">
    <div class="options d__flex d__flex--direction-column d__flex--items-center w__100per w__260 m__right--50">
      <div class="catalog-title d__flex d__flex--items-center w__100per bg__color--3 m__bottom--10">
        <img class="m__right--20" src="assets/svg/catalog.svg" alt="catalog">
        <span class="text__fz--18 text__fw--600 text__color--2 text__transform--uppercase">Каталог товаров</span>
      </div>

      <app-sort-panel class="w__100per m__top--30"></app-sort-panel>
    </div>

    <div class="w__100per">
      <h1 class="text__fz--30 text__fw--50">{{params.category}}</h1>

      <div class="panel w__100per d__flex d__flex--items-center p__15">

      </div>
    </div>
  </div>
</ng-container>
