@import "src/assets/scss/variables";

:host {
  width: 100%;
  min-height: calc(100vh - 80px - 235px);
  max-width: 1394px;
  padding: 0 20px;
}

.options {
  @media (max-width: 870px) {
    display: none;
  }
}

.wraper {
  border: 1px solid $line;
  border-radius: 7px;
  padding: 20px 0;
}
