<ng-container *ngrxLet="params$ as params">
  <div class="m__top--30 d__flex">
    <div class="options d__flex d__flex--direction-column d__flex--items-center w__100per w__260 m__right--50">
      <div class="catalog-title d__flex d__flex--items-center w__100per bg__color--3 m__bottom--10">
        <img class="m__right--20" src="assets/svg/catalog.svg" alt="catalog">
        <span class="text__fz--18 text__fw--600 text__color--2 text__transform--uppercase">Каталог товаров</span>
      </div>
      <div class="wraper w__100per">
        <app-sort-panel class="w__100per m__top--30"></app-sort-panel>
      </div>
    </div>

    <div class="w__100per">
      <h1 class="text__fz--30 text__fw--50">{{title}}</h1>
      <app-up-panel class="m__top--50"></app-up-panel>
      <div class="main m__top--30 d__flex d__flex--wrap d__flex--justify-around">
        <app-product-card *ngFor="let product of (products$ | ngrxPush)" class="m--5" [id]="product._id" [name]="product.full_name" [photo]="product.photo_url[0]" [price]="product.price"></app-product-card>
      </div>
    </div>
  </div>
</ng-container>
