@import "src/assets/scss/variables";

:host {
  width: 100%;
  max-width: 1394px;
  padding: 0 20px;
}

.catalog-title {
  height: 55px;
  padding: 0 20px;
  border-radius: 8px;
}

.slider {
  height: 430px;
  border-radius: 10px;
}

.top-sales-title {
  border-bottom: 2px solid $main-blue;
}
