@import "src/assets/scss/variables";

:host {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 15px;
  &:hover {
    background-color: darken($page-bg, 10);
  }
  border-radius: 8px;
}
