@import "src/assets/scss/variables";

:host {
  max-width: 1394px;
  width: 100%;
}

.main {
  @media (max-width: 870px) {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
}

ngx-gallery {
  @media (max-width: 870px) {
    margin: 0;
  }
}

.desc {
  @media (max-width: 870px) {
    margin-top: 30px;
  }
}

.designs {
  width: 100%;
  max-width: 400px;
}

