<div class="container w__100per d__flex d__flex--justify-around d__flex--wrap m__bottom--30">

  <div class="d__flex d__flex--direction-column m--5 m__top--45">
    <h2 class="text__fz--20 text__fw--600 text__color--2">Основные категории</h2>
    <span class="m__top--15 text__color--2 text__fz--16 text__fw--400">Apple</span>
    <span class="m__top--5 text__color--2 text__fz--16 text__fw--400">Samsung</span>
    <span class="m__top--5 text__color--2 text__fz--16 text__fw--400">Xiaomi</span>
    <span class="m__top--5 text__color--2 text__fz--16 text__fw--400">Чехлы</span>
    <span class="m__top--5 text__color--2 text__fz--16 text__fw--400">Стекла</span>
  </div>

  <div class="d__flex d__flex--direction-column m--5 m__top--45">
    <h2 class="text__fz--20 text__fw--600 text__color--2">Контакты</h2>
    <span class="m__top--15 text__color--2 text__fz--16 text__fw--400">г. Киев</span>
    <span class="m__top--5 text__color--2 text__fz--16 text__fw--400">ул. Ашоакто 9</span>
    <span class="m__top--5 text__color--2 text__fz--16 text__fw--400">+3801488228</span>
    <span class="m__top--5 text__color--2 text__fz--16 text__fw--400">Telegram: @123</span>
  </div>

  <div class="d__flex d__flex--direction-column m--5 m__top--45">
    <app-svg-logo [color]="'#fff'"></app-svg-logo>
    <span class="m__top--15 text__color--2 text__fz--16 text__fw--400">© 2020  Sitename</span>
  </div>

</div>
